*.user
*.cache
*.ncb
*.suo
*.ASD
*.ri
**/bin/*
**/obj/*
/src/packages/*
**/.vs/*
**/.vscode/*
![Bb]in/
csx/
build/*
scripts/tools/*
**/App.debug.config
**/*.sln.dotsettings.user
**/.idea/*
**/rcf/*
**/logs/*
**/*.ncrunch*
**/pacts/*.json
